

nav{
  background-color: rgb(230, 230, 230);
}

#nosotros{
    background-color: rgb(226, 150, 62)
}


#menu{
  background-color: rgb(169, 177, 177);
}

#menu2{
  background-color: rgb(226, 150, 62)
}

#contacto{
  background-color: #b0d1b1;
  padding: 25px;
}


